/* styles.css */
body {
    background-color: #642323;
    font-family: Impact, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e4c40d;
    color: #ca11ab;
    padding: 1em;
    text-align: center;
}