/* styles.css */
body {
    background-color: #000000;
    color: orange;
    font-family: 'Brush Script MT', cursive;
    margin: 2;
    padding: 0;
}

header {
    background-color: #000000;
    color: #ca1d51;
    padding: 2em;
    text-align: center;
}